label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.error-feedback {
    color: red;
}


.login-background, .register-background {
    background-image: url("../background_user_layout.jpg");
}

.login-background .card, .register-background .card {
    background: linear-gradient(to bottom right, #3087d8, #ACB6E5);
    border-radius: 10px;
    animation: toBot 0.5s forwards linear;
}
.login-background .card input.form-control:focus, .register-background .card input.form-control:focus {
    background-color: transparent !important;
    color: #fff;
    box-shadow: none;
    border-color: #ccc;
}
.login-background .card input.form-control, .register-background .card input.form-control{
    background-color: transparent;
}


@keyframes toBot {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.search-wrapper {
    max-width: 300px;
}

.search-box {
    position: relative;
    width: 100%;
    display: flex;
}

.search-input {
    flex: 1;
    padding: 12px 16px;
    padding-right: 50px;
    border-radius: 50px;
    border: 1px solid #d0d7de;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.search-input:focus {
    border-color: #3b7ddd;
    box-shadow: 0 0 5px rgba(59, 125, 221, 0.4);
}

.search-btn {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #3b7ddd;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.search-btn:hover {
    background: #2f67b9;
}