.user-layout .navbar {
  /* background: linear-gradient(to bottom right, #6079e6, #9e16c0); */
  background-color: rgba(0, 0, 0, 0.5);
  width: 70vw;
  border-radius: 15px;
  margin: auto;
}

.user-layout .navbar .nav-link {
  position: relative;
  margin-right: 10px;
  font-weight: 600;
  color: #ccc;
  transition: color 0.3s ease;
}

.user-layout .navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.user-layout .navbar .nav-link:hover, .user-profile:hover .fa-user{
  color: #fff;
  text-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}
.user-layout .navbar .nav-link:hover::after {
  transform: scaleX(1);
}
/* end css layout nav */


/* Booklist css */
.heading-booklist, .title.text-light {
  /* color: #fff; */
  text-shadow: 0 4px 5px rgba(0, 0, 0, 1);
}

.card.book-card {
  padding: 20px 10px;
  border-radius: 15px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 620px;
}
.book-img {
  margin: auto;
  width: auto;
  height: 300px;
}

.book-card:hover {
  background-color: rgba(253, 252, 252, 0.2);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.card-body .card-text {
  color: rgba(255, 255, 255, 0.8);
}

.card button {
  margin-top: auto;
}


/* userlayout-css */
.user-layout {
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #6079e6, #9e16c0); */
  /* background-position: center; */
}

.btn-logout  {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
.btn-logout:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
}

.background {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url('../background_user_layout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  font-size: 1.2rem;
}


.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-text {
  font-size: 1.2rem;
}
.container {
  font-size: 1.2rem;
}

.user-profile {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 5px;
  transition: width 0.3s ease;
  cursor: pointer;
}
.user-profile i {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
}
.user-profile:hover {
  width: 200px;
}

.user-name {
  color: #e0e0e0;
  transition: opacity 0.3s ease;
}

.user-profile:not(:hover) .user-name {
  opacity: 0;
}

/* css button */
/* From Uiverse.io by barisdogansutcu */ 
.btn-batman {
  border: none;
  position: relative;
  width: 200px;
  height: 73px;
  padding: 0;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(8px)
}

.btn-batman:after {
 content: '';
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 box-shadow: 0px 0 0 0 white;
 transition: all 2s ease;
}

.btn-batman:hover:after {
 box-shadow: 0px -13px 56px 12px #ffffffa6;
}

.btn-batman span {
 position: absolute;
 width: 100%;
 font-size: 15px;
 font-weight: 100;
 left: 50%;
 top: 39%;
 letter-spacing: 3px;
 text-align: center;
 transform: translate(-50%,-50%);
 color: white;
 transition: all 2s ease;
}

.btn-batman:hover span {
 color: white;
}

.btn-batman:before {
 content: '';
 position: absolute;
 width: 0;
 height: 100%;
 background-color: black;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 transition: all 1s ease;
}

.btn-batman:hover:before {
 width: 100%;
}

/* layout css */
.heading-layout {
  font-size: 3rem;
  font-weight: 800;
  /* background: linear-gradient(135deg, #4e73df, #1cc7d0); */
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  animation: fadeIn 1.2s ease, float 3s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.footer-content {
  display: absolute;
  bottom: 0;
  color: #fff;
}